DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=CHANGE_ME
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_NAME=cla_admin
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432

ADMIN_USER=cla_admin
ADMIN_PASSWORD=cla_admin
